


<h1>Functions Basics</h1> 

<div id="message"></div>

<code> 
    
    <strong> Function Structure</strong> 
    <pre>
        function showMessage() {

            
        } 
    </pre>

    <strong> Function Expression</strong> 
    <pre>
        let myExpressionFunction = function() {

            
        } 
    </pre>

    <strong> Calling Function </strong> 
    <pre>
        showMessage();
    </pre>
    <pre>
        myExpressionFunction();
    </pre>
</code>

<script src="/js/utils.js"  ></script>
<script src="/js/functions.js"  ></script>