<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />


<div>

    <div class="col-md-12 footer-getCode">   
        <div class="content-width"  > 
            <a class="sourceCode-button" href="https://github.com/LearningStreets/ReactJsStreet/tree/main" target="_blank" rel="noreferrer">
                    Get the source code &#60;/&#62;  
            </a> 
              </div>
    </div> 


    <footer class="App-footer"> 
    <div class="content-width"> 
        <div class="row col-md-12 content-width"> 
            
            <div  class="row col-md-12">
                
                <div class="col-md-3"></div>
                <div class="col-md-3 otherStreet"> 
                <br />
                <span class="footer-subheading">  Connect with Us  </span> 

                <ul>
                    <li>
                        <a  href="#" target="_blank" rel="noreferrer">
                            YouTube
                        </a>
                    </li>
                    <li>
                        <a  href="#" target="_blank" rel="noreferrer">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a  href="#" target="_blank" rel="noreferrer">
                            GitHub
                        </a>
                    </li>
                </ul>
                
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3 contactUs"> 
                <div class="col-md-1"></div>
                <br />
                <span  class="footer-subheading">   Contact Us </span> 

                <ul>
                    <li>
                        +91-90xxxxxxx
                    </li>
                    <li>
                        streetsxxxxx@gmail.com
                    </li>
                </ul>
                </div>
            </div> 
            </div> 
        </div>   
    <div class="col-md-12">
                <img src="/images/learningStreetsLogo.png" width="10%" />
                <p> &copy; 2021 - Learning Streets</p>
            </div>
     <div class="col-md-12 App-footerBottom">   
        <div class="content-width"  >  
            &nbsp;
              </div>
    </div>  
    
    </footer>
</div>